<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<!--<bean id="spellChecker" class="com.ibm.spring.beans.SpellChecker"
		scope="singleton">
		<property name="id" value="1" />
	</bean>

	<bean id="textEditor" class="com.ibm.spring.beans.TextEditor"
		autowire="constructor" init-method="init" destroy-method="destroy">
		<property name="spellChecker" ref="spellChecker"></property>
		<constructor-arg ref="spellChecker"></constructor-arg>
	</bean>-->
	
	
	
<!--	<bean id="textEditor" class="com.ibm.spring.beans.TextEditor">
	
	</bean>
	
	<bean id="spellChecker1" class="com.ibm.spring.beans.SpellChecker">
		<property name="id" value="1" />
	</bean>
	
	<bean id="spellChecker2" class="com.ibm.spring.beans.SpellChecker">
		<property name="id" value="1" />
	</bean>-->
	
	

	

	<!--<bean id="textEditor" class="com.ibm.spring.beans.TextEditor"
		autowire="byType" lazy-init="true"></bean>-->
		
	<!--<bean id="JavaCollections" class="com.ibm.spring.beans.JavaCollections">
		<property name="addressList">
			<list>
				<value>India</value>
				<value>China</value>
				<value>USA</value>
				<value>USA</value>
			</list>
		</property>
		<property name="addressSet">
			<set>
				<value>India</value>
				<value>China</value>
				<value>USA</value>
				<value>USA</value>
			</set>
		</property>
		<property name="addressMap">
			<map>
				<entry key="1" value="India"></entry>
				<entry key="2" value="China"></entry>
				<entry key="3" value="USA"></entry>
				<entry key="4" value="USA"></entry>
			</map>
		</property>
		<property name="addressProperties">
			<props>
				<prop key="one">India</prop>
				<prop key="two">China</prop>
				<prop key="three">USA</prop>
				<prop key="four">USA</prop>
			</props>
		</property>
	</bean>-->
	
	<!--<bean id="textEditor" class="com.ibm.spring.beans.TextEditor">
		<property name="spellChecker">
			<bean id="spellchecker1" class="com.ibm.spring.beans.SpellChecker" scope="singleton">
				<property name="id" value="1"></property>
			</bean>
		</property>
	</bean>-->
	
	<context:annotation-config/>
	
	<context:component-scan base-package="com.ibm.spring.beans, com.ibm.spring.services"/>

</beans>